<!-- SECTION HERO -->
<section class="hero">
  <div class="hero-content">
    <h1 class="salon-name">Mon Salon</h1>
    <button class="btn-booking"><a routerLink="/reservation">Booking Now</a></button>
  </div>
</section>

<!-- SECTION À PROPOS -->
<section class="about">
  <div class="about-container">
    <div class="about-image">
      <img src="assets/images/presentation/presentation.jpg" alt="Salon">
    </div>
    <div class="about-text">
      <h2>Mon Salon</h2>
      <p>Bienvenue chez Beauty Saloon ! ✨💇‍♀️💆‍♂️ Nous sommes ravis de vous accueillir dans Beauty Saloon, un espace dédié à la beauté et au bien-être de vos cheveux. Que vous souhaitiez une
        coupe tendance, une coloration éclatante ou un soin profond, notre équipe de professionnels passionnés est là pour sublimer votre style et révéler votre éclat naturel.
        Chez Beauty Saloon, chaque visite est une expérience unique, où l’écoute, le savoir-faire et la détente sont au cœur de notre service. Installez-vous confortablement,
        laissez-vous chouchouter et repartez avec une coiffure qui vous ressemble !
        ✨ Votre beauté, notre passion. ✨</p>
      <button class="btn-booking"><a routerLink="/reservation">Booking Now</a></button>
    </div>
  </div>
</section>

<!-- SECTION OUR TEAM -->
<section class="team">
  <h2>Our Team</h2>
  <div class="team-container">
    <div class="team-member">
      <img src="assets/images/personnelles/Sophian.jpg" alt="Coiffeur 1">
      <h3>Sophian Doe</h3>
      <p>Coiffeur</p>
    </div>
    <div class="team-member">
      <img src="assets/images/personnelles/morgan.jpg" alt="Coiffeuse 2">
      <h3>Morgan Smith</h3>
      <p>Coiffeuse</p>
    </div>
  </div>
</section>

